.img {
    max-width: 100%;
}

.slogan-red {
    text-align: center;
    display: block;
    color: #E2001A;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.slogan-gray {
    display: block;
    text-align: center;
    color: #808285;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}
